body{
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #B0E8ED;
    margin: 0px 0px;
}

.design{
    background-color: white;
    padding: 10px 15px;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #116496;
    font-weight: bold;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/galaxy5.webp);
    background-size: cover;
    height: 100vh;
}

#last{
    color: #116496;
}

.underline{
    border-bottom: 4px solid white;
}

#logo{
    width: 200px;
}
